<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Synthetic Spaces</title>
</head>
<body>
    <div id="mainContainer">
        <canvas id="c" class="overlay"></canvas>
        <h1 id="subtitle" class="overlay"></h1>
        <h2 id="about" class="overlay"></h2>
        <div id="about-popup" class="overlay popup-closed">
            <div id="descriptionContainer">
                <i id="closeIcon" class="fas fa-times overlay"></i>
            </div>
        </div>
        <i id="audioIcon" class="fas fa-volume-up fa-2x overlay"></i>
        <h1 id="cityName" class="overlay"></h1>
        <h2 id="weatherInfo" class="overlay bottomInfo"></h2>
        <h2 id="modeInfo" class="overlay bottomInfo"></h2>
        <div id="citySelector" class="overlay">
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
            <div class="city-closed">
                <h2 class="city-label"></h2>
                <div class="bg-image"></div>
            </div>
        </div>
    </div>
</body>
</html>